
/** Formatando h1, h3 e p do html**/

h1 {
    font-family: Verdana;
    text-decoration: underline;
    color: green;
}

h3 {
     font-style:italic;
     font-family: comic sans-serif;
     color: mediumslateblue;
}

p {
    font-family: Arial;
    color: black;
}